<header class="header-full">
      <div class="header-center logo">
        <%= link_to root_path do %>
          <p class="m-0">pladujoor</p>
        <% end %>
    </div>
  <div class="header-right">
  </div>
</header>
